<%- include("includes/head.ejs") %>
<body>
    <h2>This page belong to
        @<%= data.name %> </h2>
    <button>Follow</button>
    <button>message</button>
    <h>Follower list account that follow you</h>
   <p>Followers:<%=data.followers %></p>
   <p>Following: <%= data.following %></p>
   <hr/>
   <% for(let post of data.posts) { %>
        <img src="<%= post.image %>" >
        <p>Likes:<%=post.likes %></p>
   <p>Comments: <%= post.comments %></p>
    <% } %>
   
    <%- include("includes/footer.ejs") %>
</body>
</html>